@keyframes blink{
    0%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.fade:not(.show){
    height: 0px;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
    &.show{
        height: unset;
        overflow: unset;
        margin: unset;
        padding: unset;
    }
}