// COLORS
$dark: #232323;
$gold: #ffc145;
// $dark: rgb(35,35,35);

/* FONTS */
@font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url("../assets/fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url("../assets/fonts/Roboto-Bold.ttf");
}
