/* FONTS */
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("../assets/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("../assets/fonts/Roboto-Bold.ttf");
}

/* GENERAL */
html {
  overflow-x: hidden;
  scroll-behavior: smooth !important;
  -webkit-transition: .5s !important;
  transition: .5s !important;
  scrollbar-width: thin;
}

body {
  font-family: 'Roboto' Arial, Helvetica, sans-serif !important;
  color: #4d4d4d;
}

li {
  list-style: none;
  word-break: normal;
}

p {
  font-size: 14px;
}

.row.w-100 {
  margin: 0 auto;
}

.ul-gold li {
  position: relative;
}

.ul-gold ::before {
  content: '';
  width: 5px;
  height: 5px;
  background: #ffc145;
  display: block;
  position: absolute;
  border-radius: 100px;
  left: -15px;
  top: 45%;
}

.bg-dark {
  background: #232323 !important;
}

.z-99 {
  position: relative;
  z-index: 99;
}

body::-moz-scrollbar {
  width: 10px;
}

body::-moz-scrollbar-track {
  background: gray;
  border: none;
  outline: none;
}

body::-moz-scrollbar-thumb {
  background: #ffc145;
}

.transition {
  -webkit-transition: .5s;
  transition: .5s;
}

/* TEXTS */
h1 {
  font-size: 38px;
}

h2 {
  font-size: 54px;
}

.text-gold {
  color: #ffc145;
}

.text-muted {
  color: #b0b0b0 !important;
}

.text-bold {
  font-weight: 700;
}

.list-gold {
  padding-left: 30px;
}

.list-gold li {
  position: relative;
}

.list-gold li::before {
  content: '';
  height: 5px;
  width: 5px;
  background: #ffc145;
  border-radius: 50px;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -15px;
}

/* BUTTONS */
.btn {
  position: relative;
  padding: 1rem 0px;
  font-weight: bold;
}

.btn-dark, .btn-light {
  background: none !important;
  border: none !important;
}

.btn::after {
  content: '';
  height: 3px;
  width: 40px;
  background: #ffc145;
  display: block;
  position: absolute;
  right: -50px;
  top: 50%;
}

/* //GENERAL */
header {
  position: absolute;
  top: 30px;
  z-index: 999;
}

#h-menu, #light-menu {
  display: none;
}

.logo {
  position: relative;
  z-index: 100;
}

#burger {
  width: 25px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
  z-index: 100;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

#burger.active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#burger span {
  background: white;
  width: 100%;
  margin: 3px 0;
  height: 4px;
}

#burger::after, #burger::before {
  content: '';
  background: white;
  width: 100%;
  height: 4px;
  top: 0;
  display: block;
}

#burger.dark span {
  background: #232323 !important;
}

#burger.dark::after, #burger.dark::before {
  background: #232323 !important;
}

#burger.light span {
  background: white !important;
}

#burger.light::after, #burger.light::before {
  background: white !important;
}

/* CONTENT */
main {
  min-height: 100vh;
}

.the_content {
  width: 80%;
  margin: 0 auto;
}

.dash {
  width: 40px;
}

.scroll-y {
  overflow-y: scroll;
  scrollbar-width: thin;
  max-height: 100vh;
  background: white;
}

.scroll-y .the_content {
  position: relative;
  z-index: 99;
}

.scroll-snap-y {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.scroll-snap-y ::-webkit-scrollbar {
  display: none !important;
}

.scroll-snap-y > section {
  scroll-snap-align: start;
}

#menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #232323;
  color: white;
  top: 0;
  left: -150%;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .666s;
  transition: .666s;
}

#menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu .left {
  width: 100%;
  max-width: 40%;
  border-right: 1px solid white;
  padding: 7% 0;
}

#menu .left li {
  padding: 10px 0;
}

#menu .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 30%;
  padding: 0 30px;
}

#menu .content::before {
  content: '';
  width: 1px;
  background: white;
  position: absolute;
  left: 0px;
  height: 0%;
  z-index: 999;
}

#menu .content li {
  padding: 15px 0;
  font-size: 22px;
  font-weight: 700;
}

#menu .content li a {
  padding: 15px 10px;
  color: white;
}

#menu.show {
  left: 0;
}

#menu.show .content::before {
  height: 120%;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

@-webkit-keyframes zoom {
  from {
    height: 0%;
  }
  to {
    height: 120%;
  }
}

@keyframes zoom {
  from {
    height: 0%;
  }
  to {
    height: 120%;
  }
}

body.page-template-about #menu {
  left: unset;
  right: -150% !important;
}

body.page-template-about #menu.show {
  right: 0 !important;
}

body.page-template-about #menu .content {
  left: 0 !important;
}

#home_resume {
  height: 100%;
  max-height: 270px;
}

#about_resume {
  height: 100%;
  max-height: 680px;
}

/* Works */
#card-posts.card-deck {
  gap: 30px;
}

#card-posts.card-deck .card {
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
  margin: 0;
  display: block;
  width: calc(50% - 30px);
}

body.page-template-works .card-deck {
  position: relative;
  background: white;
  z-index: 1;
}

body.page-template-works footer {
  z-index: unset;
}

/* //CONTENT */
/* GRIDS */
/* FORMS */
.david-form label {
  margin-left: 10px;
}

.david-form input:not([type='submit']), .david-form textarea {
  border: none;
  border-bottom: 1px solid #232323;
  border-radius: 0px;
}

.david-form .form-control::-webkit-input-placeholder {
  color: gray;
}

.david-form .form-control:-ms-input-placeholder {
  color: gray;
}

.david-form .form-control::-ms-input-placeholder {
  color: gray;
}

.david-form .form-control::placeholder {
  color: gray;
}

.david-form .form-control:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 167, 0, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(255, 167, 0, 0.25);
}

.david-form label[for="david-contact__name"]::after, .david-form label[for="your-email"]::after {
  content: '*';
  display: inline;
  color: #ffc145;
  font-weight: bold;
}

.david-form input[type='submit']::after {
  content: 'test';
  display: block;
  width: 50px;
  height: 3px;
  background: #ffc145;
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 999;
}

@media screen and (min-width: 768px) {
  #the_dark {
    max-width: 600px;
  }
}

@media screen and (max-width: 768px) {
  html.menu-collapse {
    overflow-y: hidden;
  }
  header {
    top: 25px;
  }
  /* burguer */
  #burger.dark span {
    background: white !important;
  }
  #burger.dark::after, #burger.dark::before {
    background: white !important;
  }
  #burger.light span {
    background: white !important;
  }
  #burger.light::after, #burger.light::before {
    background: white !important;
  }
  #menu {
    left: 0;
    top: -100%;
  }
  #menu.show {
    top: 0;
  }
  #menu.show .content::before {
    width: 70%;
  }
  #menu .container {
    padding-top: 130px;
  }
  #menu .content {
    width: unset;
    left: 0;
    width: 100%;
  }
  #menu .content::before {
    width: 0%;
    left: 50%;
    top: 1px;
    height: 1px !important;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #menu .content nav {
    width: 100%;
    text-align: center;
  }
  #menu .content nav li {
    padding: 0;
  }
  #menu .content nav li a {
    padding: 15px 0;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  #menu .main-menu ul {
    padding-left: 0;
  }
  #about .list-gold li::before {
    display: none;
  }
  /* //burguer */
  body {
    overflow-x: hidden;
  }
  /* scrolls */
  #home_resume {
    max-height: unset;
  }
  /* //scrolls */
  footer {
    position: relative;
  }
}

/* Animations */
/*# sourceMappingURL=style.css.map */